<div class="container-booking d-flex flex-column align-items-center pt-5">
  <div class="card-booking">
    <h1>Your Bookings</h1>
    <div class="container">
      <h3>Bookings by you</h3>
      <% @bookings.each do |booking| %>
        <div class="card-product border border-dark" style="width: 600px">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png" %>
          <div class="card-product-infos">
            <div>
              <p><b><%= booking.prank.name %></b></p>
              <p><%= booking.date.strftime('%A, %b %d') %></p>
              <p><%= booking.description %></p>
              <p><%= booking.status %></p>
            </div>
          </div>
        </div>
      <% end %>
      <br>
    </div>
    <div class="container">
      <h3>Your pranks to pull</h3>
      <% @bookings_as_owner.each do |booking| %>
        <div class="card-product border border-dark" style="width: 600px">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png" %>
          <div class="card-product-infos">
            <div>
              <p><b><%= booking.prank.name %></b></p>
              <p><%= booking.date.strftime('%A, %b %d') %></p>
              <p><%= booking.description %></p>
              <p><%= booking.status %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'All pranks', pranks_path, class: 'btn btn-flat mb-3 mt-3 w-10' %>
</div>

