<div class="container-booking">
  <div class="card-booking">
    <h1>Your Bookings</h1>
    <div class="container">
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png" %>
          <div class="card-product-infos">
            <div class="card-product-info">
              <h2><%= booking.prank.name %></h2>
              <h2><%= booking.date.strftime('%A, %b %d') %></h2>
              <p><%= booking.description %></p>
            </div>
            <div class="card-product-status">
              <h6>Status</h6>
              <p><%= booking.status %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
