<div class="container-booking d-flex flex-column align-items-center pt-5">
  <div class="card-booking d-flex flex-column align-items-center justify-content-center">
    <h1>Your Bookings</h1>
    <% if @bookings.empty? %>
      <p>There are no bookings yet</p>
    <% else %>
  </br></br>
        <h3>Pranks booked</h3>
        <% @bookings.each do |booking| %>
          <div class="card-product border border-dark" style="width: 600px">
            <%= booking.prank.photo.attached? ? cl_image_tag(booking.prank.photo.key) : cl_image_tag("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png") %>
            <div class="card-product-infos">
              <div class="w-100">
                <p><b><%= booking.prank.name %></b></p>
                <p><%= booking.date.strftime('%A, %b %d') %></p>
                <p><%= booking.description %></p>
                <p><%= booking.status.capitalize %></p>
              </div>
              <% if booking.completed? %>
                <div id="accordion">
                  <div class="card border-0">
                    <div id="headingOne">
                      <div class="mb-0">
                        <button class="btn btn-flat btn-block mt-1 text-decoration-none border-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          See Result
                        </button>
                      </div>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body mb-0">
                        <%= booking.photo.attached? ? cl_image_tag(booking.photo.key, class: "w-100") : cl_image_tag("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png") %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <%= link_to 'All pranks', pranks_path, class: 'btn btn-flat mb-3 mt-3 w-10' %>
    </div>
    <% if current_user == @bookings_as_owner %>
    <div class="container-booking d-flex flex-column align-items-center">
      <% if @bookings_as_owner.present? %>
        <h3>Pranks to pull</h3>
        <% @bookings_as_owner.each do |booking| %>
          <% if current_user == booking.prank.user %>
            <div class="card-product border border-dark" style="width: 600px">
              <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png" %>
              <div class="card-product-infos">
                <div>
                  <p><b><%= booking.prank.name %></b></p>
                  <p><%= booking.date.strftime('%A, %b %d') %></p>
                  <p><%= booking.description %></p>
                </div>
                <div class="card-product-actions d-flex flex-row justify-content-center">
                  <% if booking.pending? %>
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                      <%= f.submit 'Accept', class: 'btn btn-info' %>
                    <% end %>
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                      <%= f.submit 'Reject', class: 'btn btn-info' %>
                    <% end %>
                  <% elsif booking.accepted? %>
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'completed'} %>
                      <%= f.submit 'Complete', class: 'btn btn-info' %>
                    <% end %>
                  <% elsif booking.completed? %>
                    <%= simple_form_for(booking) do |f| %>
                      <%= f.input :photo, as: :file %>
                      <%= f.submit 'Accept', class: 'btn btn-info' %>
                    <% end %>
                  <% else %>
                    <p class="booking-status"><%= booking.status %></p>
                  <% end %>
                </div>
              </div>
            </div>
            <% else %>
            <p>There are no bookings</p>
          <% end %>
        <% end %>
    <% end %>
    <% else %>
    <p>you can also become a prankster!</p>
    <% end %>
    </div>
  </div>
</div>
