<div class="bg-white">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://cdn.dribbble.com/users/3347395/screenshots/8929289/media/6018c0ee5221aaac40add5132baf70ea.png?compress=1&resize=1600x1200);">
    <div class="container">
      <h1>Prankt brings <strong>creative pranks</strong> to <strong>creative people</strong>!</h1>
    </br>
    <p>Search for pranks below, and modify your own!</p>
    <div class="search">
      <%= form_tag pranks_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search-form",
          placeholder: "What prank do you want to pull?"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
  <h1>All pranks</h1>
</div>
<div class="container-pranks">
    <div class="container-cards pt-3">
      <div class="card-prank">
        <% @pranks.each do |prank| %>
          <div class="card-test">
            <%= prank.photo.attached? ? cl_image_tag(prank.photo.key) : cl_image_tag("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png") %>
            <div class='ml-3 d-flex flex-column justify-content-between h-100 p-4 '>
             <div class="prank-name"><%= link_to prank.name, prank_path(prank) %></div>
              <div class='d-flex mt-3 justify-content-between'>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</br>
</div>
